/* BODY */
body{
    margin: 0;
    background-color: #3a3a3a;
    color: whitesmoke;
}
body, header, .content, th, td{
    /* border: red solid 2px; */
    font-family: Arial, Helvetica, sans-serif
}
/* HEADER */
header{
    width: auto;
    background-color: rgb(29, 30, 30);
}
header > nav {
    display: flex;
    /* justify-content: center; */
    align-items: baseline;
}
header > nav > ul {
    list-style: none;
}
header > nav > ul > li > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
header > nav > ul > li > a:hover {
    color: lightgray;
}
.search-container > form > span> button {
    float: right;
    padding: 8px 10px;
    font-size: 17px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    background-color: rgb(74, 73, 73);   
    border: 1px solid gray;
    color: gray;   
  }
  .search-container > form > span> button:hover {
    background-color: darkgray;   
  }
  .search-container > form > span>input{
      background-color: rgb(57, 55, 55);   
      padding: 8px 60px;
      color: white;
      font-size: 18px;
      border-radius: 12px;
      border: 1px solid white;
  }
/* CONTENT */

/* view buttons */
.view{
    /* text-align: center; */
    padding-left: 50px;
}
/* H2 Playlist */
.view > h2 {
    color: rgb(197, 197, 198);
}
.view-buttons{
    display:flex;
    justify-content: center;
    align-items: baseline;
}
.view-buttons > div{
    padding: 10px;
}
.view-buttons > div > button {
    background-color: #555555;
    border-radius: 8px;    
    border: none;
    color: lightgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid white;

}
.view-buttons > div > button:hover {
    background-color: darkgray;
}

/* content area */
.content{
    width: auto;
    min-height: 500px;
    overflow: hidden
}
.content-table{
    display:flex;
    justify-content: center;
    align-items: baseline;
}


/* TABLE SONGS */
table{
    background-color:rgb(74, 73, 73);
}
th, td{
    padding: 10px;
}




